
.nav-ul {
  display: none;
}

.hamburger {
  display: block;
}

.nav-ul li {
  display: block;
}


 nav:hover .nav-ul {
  display: block;
} 

@media only screen and (min-width: 640px) {
  .nav-ul {
    display: block;
  }

  .hamburger {
    display: none;
  }

  .nav-ul li {
    display: inline-block;
  }
}